body {
  background-image: linear-gradient(to right, green, white);
  height: 99vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.password_input {
  border: none;
  border-radius: 5px;
  outline: none;
  width: 25rem;
  height: 1.95rem;
  padding: 1.25rem 1.5rem;
  font-size: 18px;
  color: green;
}
.strength_loader_container {
  height: 0.85rem;
  width: 25rem;
  border-radius: 25px;
  background-color: white;

  .loader {
    height: 100%;
  }
}
